/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
margin: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
}

.list-product {
width: calc((100% - 60px) / 3);
display: flex;
justify-content: center;
border-radius: 20px;
background: #FAFAFA;
}

.item-product {
width: 295px;
height: 340px;
}

.img-product {
width: 255px;
height: 178px;
flex-shrink: 0;
border-radius: 10px;
background: #E8E8E2;
}

.caption-product {
color: #010101;
font-family: Neue Montreal;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
padding-top: 20px;
}

.price-product {
color: #010101;
font-family: Neue Montreal;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
padding-top: 30px;
}